// FONT
$FONT_FAMILY: "Trebuchet MS", Helvetica, sans-serif;

// > SIZES
$FONT_SIZE_SMALL: 11px; 
$FONT_SIZE: 14px; 
$FONT_SIZE_LARGE: 18px; 

// > WEIGHTS
$FONT_BOLD: bolder;

// COLORS
$PRIMARY_COLOR: rgb(255, 255, 255);
$SECONDARY_COLOR: rgb(0, 0, 0);
$HIGHLIGHT_COLOR: rgb(153, 0, 255);

// SPACING
$SMALL_SPACING: 8px;
$DEFAULT_SPACING: 15px;